body{
	background-color: #E5E5E5;
	overflow-x: hidden;
	margin: 0 auto;
}
.navbar-default{
	background-color: $transparente;
	border: $transparente;
	z-index: 1;
	.navbar-right{
		.btn-default{
				background-color: $rosadoboton;
				color: $blanco;
				border: $transparente;
				padding: 15px 15px 15px 15px;
				margin: 15px;
				font-size: $font12;
			}
		li{
			a{
				color: $blanco;
				font-size: $font12;
				padding-top: 30px;
				i{
					padding-right: $iconright;
				}
			}
			i{
				padding-right: $iconright;
			}
		}
	}
	.navbar-header{
		.navbar-brand{
		color: $blanco;
		padding: $padding20;
		margin: 15px;
		font-weight: lighter;
		}
	}
}
/*.navbar{
	z-index: 1;
}*/
/*SIN BORDE AL SER RESPONSIVE*/
.navbar-default .navbar-toggle{
	border-color: $transparente;	
}
.carousel-caption{
	h1{
		font-weight: bolder;
		font-size: 70px;
	}
	h4{
		padding-top: $padding20;
	}
}
.one{
	padding-bottom: 20%;
}
.two{
	padding-bottom: 15%;
}
.carousel-inner{
	div{
		.btn-default{
			background-color: $rosadoboton;
			color: $blanco;
			border: $transparente;
			padding: 15px 30px 15px 30px;
			margin: 50px;
			font-size: $font12;
		}
	}
}

/*HACIENDO RESPONSIVE EL NAV Y CARRUSEL*/
@media (max-width: 768px){
	.carousel-caption{
		h1{
			font-weight: bolder;
			font-size: 30px;
			padding-top: 50px;
		}
		h4{
			font-size: $font12;
			padding-top: 5px;
		}
	}
	.one{
	padding-top: $cien;
	padding-bottom: 0px;
	}
	.two{
	padding-top: $cien;
	padding-bottom: 0px;
	}
	.carousel-inner{
		div{
			.btn-default{
				padding: 10px 20px 10px 20px;
				margin: 5px;
				font-size: $font12;
			}
		}
	}
}
/*FIN DEL MEDIA PARA CARRUSEL Y NAV*/

/*Primer Item*/
#centro{
	background-color: $blanco;
	margin-top: -50px;
	-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);	
	div{
		h3{
			color: #B5B5B5;
			font-size: 18px;
			padding: 50px 150px;
		}
		i{
			font-size: 50px;
			padding-bottom: $padding20;
			cursor: pointer;
		}
		.fa-th{
			color: #E91E63;
		}
		.fa-th-list{
			color: #00BCD4;
		}
		.fa-bars{
			color: #4CAF50;
		}
		h4{
			color: $colortitulo;
			font-weight: bold;
			cursor: pointer;
		}
		p{
			color: #B5B5B5;
			padding-bottom: $padding20;
		}
	}
}
@media (max-width: 768px){
	#centro{
		margin-top: -10px;
		margin-left: 5px;
		margin-right: 5px;
		div{
			h3{
				padding: 5px;
			}
		}
	}
}

#segundo{
	margin-top: 20px;
	background-image: url(../img/img_city.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	background-attachment: fixed;
	padding-top: 50px;
	div{
		padding-left: $padding20;
		padding-right: $padding20;
		h1{
			color: $blanco;
			font-weight: bold;
			padding-bottom: $padding20;
		}
		p{
			color: $blanco;
			font-size: 16px;
		}
		iframe{
			border: 2px solid #9A9A9A;
			width: 60%;
			height: 400px;
			margin-bottom: 50px;
			margin-top: 50px;
		}
	}
}
#segundo:before{
	background-color: rgba(0, 0, 0, 0.8);
	content: "";
	display: block;
	position: absolute;
	/* Todas las posiciones a cero */
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
@media (max-width: 768px){
	#segundo{
		div{
			iframe{
				width: 100%;
				height: 100%;
			}
		}
	}
}

#tercero{
	background-color: #F0F0F0;
	div{
		h1{
			color: $colortitulo;
			padding-top: 70px;
			font-weight: bold;
		}
		h4{
			color: #ADADAD;
			font-size: 16px;
			font-weight: normal;
			padding-bottom: 50px;
			padding-top: $padding20;
		}
	}
	.prod1, .prod2, .prod3, .prod4{
		background-color: $blanco;
		padding: $padding20;
		border-radius: 10px;
		cursor: pointer;
		margin: 5px;
		width: 23%;
		margin-right: 10px;
		margin-bottom: $padding20;
		h6{
			color: #E91E63;
			font-weight: bold;
		}
		.textt{
			color: $colortitulo;
			font-weight: bold;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		p{
			font-size: 14px;
		}
		img{
			border-radius: 10px;
			margin-top: -40px;
		}
		.imgprod:hover{
			margin-top: -50px;
			border-radius: 10px;
			-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);	
		}
		div{
			span{
				color: #8B929C;
				font-weight: lighter;
				font-size: 21px;
				i{
					font-size: 20px;
					padding-left: 50px;
				}
			}
		}
	}
}
@media (max-width: 768px){
	.fondogris{
		background-color: #F0F0F0;
	}
	#tercero{
		.prod1{
		width: 100%;
		margin-bottom: 70px;
		}
		.prod2{
		width: 100%;
		margin-bottom: 70px;
		}
		.prod3{
		width: 100%;
		margin-bottom: 70px;
		}
		.prod4{
		width: 100%;
		margin-bottom: 70px;
		}
	}
}
#cuarto{
	div{
		h1{
			color: $colortitulo;
			padding-top: 70px;
			font-weight: bold;
		}
		h4{
			color: #ADADAD;
			font-size: 16px;
			font-weight: normal;
			padding-bottom: 50px;
			padding-top: $padding20;
		}
		img{
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			margin-bottom: $padding20;
		}
	}
}

#quinto{
	div{
		h1{
			color: $colortitulo;
			padding-top: 70px;
			font-weight: bold;
		}
		h4{
			color: #ADADAD;
			font-size: 16px;
			font-weight: normal;
			padding-bottom: 50px;
			padding-top: $padding20;
		}
		img{
			border-radius: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		div{
			div{
				h6{
					color: #878787;
					font-weight: bold;
				}
				h4{
					color: $colortitulo;
					font-weight: bold;
					padding-bottom: 5px;
				}
				div{
					i{
						font-size: 16px;
						padding-right: 25px;
						font-weight: bold;
					}
				}
			}
		}
	}
}
.team{
	margin-bottom: 50px;
}
.fa-facebook{
	color: #3B5998;
}
.fa-twitter{
	color: #55ACEE;
}
.fa-linkedin{
	color: #0976B4;
}
.fa-dribbble{
	color: #F18BB3;
}
.fa-pinterest{
	color: #CC2127;
}
.fa-github-square{
	color: #333333;
}
.fa-google-plus{
	color: #DF5544;
}

#sexto{
	background-color: #F0F0F0;
	div{
		h1{
			color: $colortitulo;
			padding-top: 70px;
			font-weight: bold;
			padding-bottom: $padding20;
		}
		p{
			color: #ADADAD;
			padding-left: $padding20;
		}
	}
	div{
		.precio1{
			background-color: $blanco;
			margin-top: 70px;
			margin-left: 50px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		.precio2{
			margin-top: 100px;
			margin-left: 50px;
			border: 0px $transparente;
			background-color: $transparente;
		}
		h6{
			color: #A2A2A2;
			font-weight: bold;
		}
		.precio{
		font-size: 50px;
		color: $colortitulo;
		padding: 5px;
		font-weight: bolder;
		}
		p{
			padding-bottom: 0px;
			span{
			color: $colortitulo;
			font-weight: bolder;
			}
		}
		.btn-default{
			background-color: $rosadoboton;
			color: $blanco;
			border: $transparente;
			padding: 15px 30px 15px 30px;
			margin: 20px;
			font-size: $font12;
		}
	}	
}
@media (max-width: 768px){
	#sexto{
		div{
			.precio1{
				margin-left: 10px;
			}
			.precio2{
				margin-left: 10px;
			}
		}
	}
}
#septimo{
	padding-bottom: 50px;
	div{
		h1{
			color: $colortitulo;
			padding-top: 70px;
			font-weight: bold;
		}
		h4{
			color: #ADADAD;
			font-size: 16px;
			font-weight: normal;
			padding-bottom: 50px;
			padding-top: $padding20;
		}
		img{
			width: 100px;
			height: 100px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		div{
			h6{
				color: #878787;
				font-weight: bold;
			}
			h4{
				color: $colortitulo;
				font-weight: bold;
				padding-bottom: 5px;
			}
		}
	}
}
#octavo{
	background-image: url(../img/about.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 30px;
	div{
		h1{
			color: $blanco;
			padding-top: 70px;
			font-weight: bold;
		}
		h4{
			color: $blanco;
			font-size: 16px;
			font-weight: normal;
			padding-bottom: 50px;
			padding-top: $padding20;
		}
		div{
			background-color: $blanco;
			div{
				i{
					color: black;
					font-size: 16px;
				}
				.btn-default{
					background-color: $rosadoboton;
					color: $blanco;
					border: $transparente;
					padding: 15px 30px 15px 30px;
					font-size: $font12;
					margin: 10px;
				}
			}
		}
	}
}
#octavo:before{
	background-color: rgba(0, 0, 0, 0.8);
	content: "";
	display: block;
	position: absolute;
	/* Todas las posiciones a cero */
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#noveno{
	div{
		h1{
			color: $colortitulo;
			padding-top: 70px;
			font-weight: bold;
		}
		h4{
			color: $colortitulo;
			font-size: 16px;
			font-weight: normal;
			padding-bottom: 50px;
			padding-top: $padding20;
		}
		h6{
			color: #878787;
			font-weight: bold;
		}
	}
}