.navbar-default{
	background-color: red;
	.navbar-right{
		.btn-default{
				background-color: $rosadoboton;
				color: $blanco;
			}
		li{
			a{
				color: $blanco;
				i{
					padding-right: $iconright;
				}
			}
		}
	}
	.navbar-header{
		.navbar-brand{
		color: $blanco;
		padding: $padding20;
		}
	}

}



#carousel-example-generic{
	position: absolute;
	div{
		div{
			background-image: url($img1);
		}
	}
}
