.navbar-default{
	background-color: $transparente;
	border: $transparente;
	z-index: 1;
	.navbar-right{
		.btn-default{
				background-color: $rosadoboton;
				color: $blanco;
			}
		li{
			a{
				color: $blanco;
				i{
					padding-right: $iconright;
				}
			}
		}
	}
	.navbar-header{
		.navbar-brand{
		color: $blanco;
		padding: $padding20;
		}
	}
}
.navbar{
	z-index: 1;
}
.navbar-default .navbar-toggle{
	border-color: $transparente;	
}

